<% layout('layouts/Boilerplate') %>
<h1>Player Details</h1>
<div class="row">
  <div class="col-6">
    <div class="card text-white bg-dark mb-3">
      <img src="<%= team.TeamLogoUrl %>" class="card-img-top" alt="" />
      <div class="card-body">
        <h5 class="card-title">
          <%= player.FirstName %> <%= player.LastName %>
        </h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= team.School %> - <%= team.Name %></li>
        <li class="list-group-item">No: <%= player.Jersey %></li>
        <li class="list-group-item">Position: <%= player.Position %></li>
      </ul>
    </div>
  </div>
  <div class="col-6">
    <h3>Reviews</h3>
    <form
      action="/players/<%= player._id %>/reviews"
      method="POST"
      class="mb-3 validated-form"
      novalidate
    >
      <div class="mb-3">
        <input
          type="range"
          min="1"
          max="5"
          name="review[Rating]"
          id="rating"
          class="form-range"
        />
        <label for="rating" class="form-label">Rating</label>
      </div>
      <div class="form-floating mb-3">
        <textarea
          class="form-control"
          name="review[Body]"
          id="body"
          cols="30"
          style="height: 100px"
          required
        ></textarea>
        <label for="body" class="form-label">Review...</label>
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
    <% for(let review of player.Reviews) {%>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Rating: <%= review.Rating %> Stars</h5>
        <p class="card-text"><%= review.Body %></p>
        <p class="card-title"><%= review.Author.username %></p>
        <form
          action="/players/<%=player._id%>/reviews/<%=review._id%>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-sm btn-danger">Delete</button>
        </form>
      </div>
    </div>
    <% } %>
  </div>
</div>
